.footer {
    @extend .container;
    background: $darkest-grey;
    padding: 0 2%;
    color: $white;
    .links {
        font-size: .8em;
        padding: 2% 0;
    }
    a {
        color: #ffffff;
        &:hover {
            text-decoration: underline;
        }       
    }
    .copyright a{
        padding: 0 0 0 12px;
    }
}

.email-signup {
    margin: auto;
    box-shadow: 0px 8px 33px -5px rgba(0, 0, 0, 1);
    position: relative;
    top: -62px;
}

.email-signup>div {
    background: $dark-grey;
    padding: 1%;
    @include horz-align;
    h4,
    input,
    button {
        float: left;
    }
    h4 {
        text-transform: uppercase;
        width: 30%;
        padding: 0 0 0 4%;
        font-size: 1.8em;
        margin: 0;
        line-height: 35px;
        font-family: $actaBook;
        span {
            display: block;
        }
    }
    input {
        width: 40%;
        background: #ffffff;
        height: 40px
    }
    button {
        width: 20%;
        float: right;
        margin-left: 5%;
    }
    &#ftr-email-conf2 h4{
        width:100%;
        text-align: center;
        strong{
            display: block;
        }
    }
}

@media screen and (#{$bp-1440-min}) {
    .email-signup {
        width: 845px;
    }
}

.support {
    text-transform: uppercase;
    p {
        display: inline-block;
        margin: 0 0 8px 0;
        &.faq-link {
            display: block;
            padding: 7% 0 0;
        }
    }
    span {
        display: inline-block;
    }
    .ic {
        width: 20%;
        float: left;
        display: inline-block;
        color: $white;
        &:hover {
            text-decoration: underline;
        }
        &.phone:hover{
            text-decoration: none;
            cursor: default;
        }
        a {
            color: white;
        }
        &:before {
            width: 50px;
            height: 50px;
            background: $white;
            border-radius: 50%;
            padding: 10px;
            display: inline-block;
            margin: auto;
            content: "";
            font-size: 28px;
            color: $black;
            margin: 0 20px 0 0;
            @include lux-icons;
        }
        &:hover:before {
            background: $dark-grey;
            color:#fff;
            text-decoration:none;
        }
        &.phone:before {
            content: "\e904";
        }
        &.sendEmail:before {
            content: "\e903";
        }
        &.chat:before {
            content: "\e902";
        }
        &.faq-icon:before {
            content: "\e905";
        }
    }
}

@media screen and (#{$bp-960}) {
    .support {
        text-align: center;
        font-size: .9em;
        position: relative;
        top:-20px;
        .ic {
            width: 25%;
            &:before {
                display: block;
                margin: 0 auto 15px auto;
            }
        }
    }
}



/*Shop Our Other Sites*/

.all-sites {
    h4 {
        text-transform: uppercase;
    }
    clear: both;
    padding: 28px 0 0 0;
}

.mar-brands a {
    background-color: rgba(0, 0, 0, 0.3);
}

.stw-brands a {
    background-color: rgba(0, 0, 0, 0.45);
}

.footer-links .all-sites p {
    text-align: center;
    overflow: hidden;
    margin: 0;
    display: table;
    width: 100%; //border-left: 1px solid $dark-grey;
    +p {
        //border-bottom: 1px solid $dark-grey;
    }
}

.all-sites p a:hover {
    color: #ffffff;
    text-decoration: none;
}

.footer-links .all-sites p a {
    width: 16.66666666666%;
    padding: 12px 2px;
    border-top: 1px solid $darkest-grey;
    border-right: 1px solid $darkest-grey;
    display: inline-block;
    display: table-cell;
    vertical-align: middle;
    background: rgba( $black, .4);
    font-size: 0.85em;
    &:hover {
        color: #fff;
        background: rgba( $dark-grey, 1);
    }
}

@media screen and (#{$bp-660}) {
    .footer-links .all-sites {
        clear: both;
        width: auto;
        padding: 20px 0 0 0;
        p {
            display: inline-block;
            width: 50%;
            clear: none;
            float: left;
            a {
                display: block;
                padding: 12px 10px;
                width: 100%;
            }
        }
    }

    .footer-links .all-sites p a {
        padding: 10px 9px;
        font-size: 0.8em;
    }
    h4,
    input,
    button {
        float: none;
    }
    .email-signup>div {
        display: block;
        h4 {
            padding: 0;
            font-size: 1em;
            span {
                display: inline-block;
            }
        }
        h4,
        input,
        button {
            float: none;
            width: 100%;
            margin: 0 0 8px 0;
        }
    }
    .support{
        font-size: .8em;
    }
    .copyright{
        text-align: center;
    }
    .shop-cart:hover{
        .cart-btn:before{
            color:#efefef;
        }
    }
        .all-sites h4 {
        text-align: center;
        font-size: 1em;
    }
}