/*Top Nav*/

.head-nav {
    display: table;
    width: 100%;
    caption-side: top;
}

#btn-left-nav {
    display: none;
}

.top-nav {
    padding: 0;
    text-transform: uppercase;
    float: right;
    li div {
        text-align: left;
    }
    a {
        color: white;
        padding: 5px 10px;
        display: inline-block;
    }
    li {
        display: inline-block;
        padding: 0;
        text-transform: uppercase;
        position: relative;
        ul li {
            border: none;
        }
        a {
            padding: 12px 35px;
        }
        ul li a {
            height: auto;
            border: 0;
            display: block;
        }
        div {
            display: none;
            padding: 20px;
        }
        &:hover a span {
            border-bottom: 1px solid #fff;
        }
    }

    >li {
        a {
            color: #fff;
            background: rgba(0, 0, 0, 0);
        }
        &:first-child>a {
            border-left: none;
        }
    }
}

#btn-main-nav {
    display: none;
    margin: 0;
}


/* Left Nav */
#category-nav {
    width: 25%;
    text-transform: uppercase;
    margin: 0;
    padding: 0 4% 0 0;
    a {
        padding: 8px 5px 8px 0;
        display: block;
        border-bottom: 1px solid $darkest-grey;
        &:hover span {
            text-decoration: underline;
        }
        span {
            padding: 5px 27px 5px 0;
            display: inline-block;
            &:after {
                @include right-arrow;
                border-color: $font-color;
                top: -3px;
                right: -5px;
            }
        }
    }
    h2 {

        font-size: 1.5em;
        color: $black;
    }

    li.active>a span:after {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg)
    }
    ul {
        padding: 0;
        margin: 0;
        list-style: none;
        border-top: 1px solid $darkest-grey;
        li ul {
            border: none;
            li a {
                padding-left: 24px;
            }
            li.current {
                a {
                    background: $light-grey;
                    cursor: default;
                    span:after {
                        display: none;
                    }
                    &:hover span {
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

/*Breadcrumb*/

.breadcrumb {
    margin: 0;
    padding: 5px 0 20px 25%;
    text-transform: uppercase;
    font-size: .8em;
    li {
        display: block;
        float: left;
        margin: 0 4px 0 0;
        padding: 0;
        &:after {
            @include right-arrow;
            border-color: $font-color;
            top: -3px;
            right: -1px;
        }
    }
}

.breadcrumb li {
    a {
        color: $dark-grey;
        text-decoration: none;
        padding: 0 4px;
    }
    &:first-child a {
        padding-left: 0;
    }
    a:hover {
        text-decoration: underline;
    }
    &:last-child {
        &:after {
            content: "  ";
            visibility: hidden;
        }
        padding-left: 4px;
    }
}

@media screen and (#{$bp-660-min}) {
    .top-nav {
        border-top: 2px solid $white;
        margin: 68px 0 0;
        li {
            &.active a {
                background-color: $light-grey;
            }
            &:hover div {
                margin: 0;
                padding: 0;
                display: block;
                visibility: visible;
                left: auto;
                top: 43px;
                position: absolute;
                z-index: 99;
                zoom: 1;
                width: 330px;
            }
            &:hover {
                div ul {
                    margin: 0;
                    overflow: hidden;
                    padding: 0;
                }
                height: auto;
            }
            ul li {
                height: auto;
                margin: 0;
                padding: 0;
                display: block;
            }

            div a:hover {
                text-decoration: underline;
            }
        }
        >li>a span {
            display: inline-block;
        }
    }
    .pgError{
        .top-nav{
            border-top:0;
        }
    }
}

@media screen and (#{$bp-660-min}) {
    .top-nav {
        li {
            &:hover div {
                margin: 0;
                padding: 0;
                display: block;
                visibility: visible;
                left: auto;
                top: 43px;
                position: absolute;
                z-index: 99;
                zoom: 1;
                width: 450px;
            }
            &.luxuries:hover div {
                right: 0;
                text-align: right;
            }
            &:hover {
                div ul {
                    margin: 0;
                    overflow: hidden;
                    padding: 0;
                }
                height: auto;
            }
            ul li {
                height: auto;
                margin: 0;
                padding: 0;
                display: block;
                &:last-child a{
                    padding-bottom: 200px;
                }
            }
            &:hover a span {}
            div a:hover {
                text-decoration: underline;
            }
            &:hover span:before {

                -webkit-transform: rotate(225deg);
                transform: rotate(225deg);
            }
        }

    }
}

@media screen and (#{$bp-960-min} + 1px) {
    .top-nav {
        display: block !important;
        height: auto !important;
                >li>a span {
            display: inline-block;
            position: relative;
            &:before {
                @include down-arrow;
                top: 3px;
                position: absolute;
                right: -15px;
                -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, .6);
                box-shadow: 2px 2px 2px rgba(0, 0, 0, .6)
            }
        }
    }
}

@media screen and (#{$bp-960} + 150) {
    .top-nav li a {
        padding: 12px 23px;
    }
}

@media screen and (#{$bp-960}) {
    body.menu-open {
        &:before {
            position: fixed;
            z-index: 14;
            content: "";
            background: rgba(0, 0, 0, 0.8);
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
        #btn-main-nav {
            z-index: 15;
        }
    }

    .top-nav {
        li {
            &:hover div,
            div {
                display: none;
            }
            display: block;
        }
        display: none;
        position: absolute;
        right: 25%;
        top: 70px;
        margin: 0;
        z-index: 15;
        background: $darkest-grey;
        border: 0;
        font-size: 2em;
        width:412px;
        -webkit-box-shadow:0 16px 35px rgba(0, 0, 0, .5);
        box-shadow:0 16px 35px rgba(0, 0, 0, .5);
    }

    #btn-main-nav {
        display: block;
        width: 50px;
        height: 53px;
        position: relative;
        text-decoration: none;
        margin: 0;
        float: right;
    }
    .pgCheckout{
        #btn-main-nav{
            display: none;
        }
    }
    .menu-trigger {
        position: absolute;
        top: -3px;
        left: 5px;
        display: block;
        width: 50px;
        height: 50px;
        cursor: pointer;
        span {
            position: absolute;
            top: 44%;
            left: 4px;
            display: block;
            width: 89%;
            height: 4px;
            background-color: #FFFFFF;
            font-size: 0;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
    }

    header .menu-trigger span {
        background-color: #FFFFFF;
        &:after,
        &:before {
            background-color: #FFFFFF;
        }
    }

    p {
        &.closed:after {
            position: absolute;
            left: 0;
            width: 20px;
            height: 2px;
            border-top: 1px dotted #657b90;
            display: block;
            content: " ";
            top: 45%;
            width: 2px;
            height: 20px;
            left: 8px;
            border-right: 1px dotted #657b90;
            top: 16%;
            border-top: 0;
        }
        &.opened:after {
            border-color: #fff;
        }
    }

    .activated .menu-trigger span {
        background-color: transparent;
    }

    .menu-trigger span {
        &:after {
            position: absolute;
            left: 0;
            width: 100%;
            height: 100%;
            background: $dark-grey;
            content: "";
        }
        &:before {
            position: absolute;
            left: 0;
            width: 100%;
            height: 100%;
            background: $dark-grey;
            content: "";
            -webkit-transform: translateY(-250%);
            transform: translateY(-250%);
            top: -4px;
        }
        &:after {
            -webkit-transform: translateY(250%);
            transform: translateY(250%);
            bottom: -4px;
        }
    }
    .activated .menu-trigger span {
        &:before {
            top: 0;
        }
        &:after {
            bottom: 0;
        }
    }
    .activated .menu-trigger span:before,
    .leftnav-active .menu-trigger span:before {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        top:0;
        bottom: 0;
    }

    .activated .menu-trigger span:after,
    .leftnav-active .menu-trigger span:after {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        top:0;
        bottom: 0;
    }

    .inactive em:after {
        position: absolute;
        left: 60px;
        top: 13px;
        font-style: normal;
        color: white;
        font-weight: normal;
    }
    /*Left Nav*/
    #category-nav {
        position: relative;
        float: none;
        width: auto;
        padding: 0;
        left:-7px;
        .left-nav nav > ul{
             margin: 25px 0 0 0;
        }
    }

    .left-nav {
        position: absolute;
        left: -350px;
        top: 0px;
        z-index: 11;
        width: 320px;
        padding: 40px 20px 20px 20px;
        box-shadow: 2px 2px 1px 0px rgba(0, 0, 0, 0.2);
        background: #fff;

    }

    #btn-left-nav {
        display: block;
        position: absolute;
        width: 35px;
        z-index: 12;
        margin: 0;
    }

    .leftnav-inactive {
        left: 0;
        -webkit-transition: all 200ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
        transition: all 200ms;
    }

    .leftnav-active {
        left: 230px;
        -webkit-transition: all 200ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
        transition: all 200ms;
    }

    .left-nav h2 {
        position: absolute;
        left: 324px;
        z-index: 5;
        top: 0;
        padding: 11px 0 0 94px;
        width: 100%;
        margin: 0;
        text-align: left;
    }

    .nav-opened {
        h2 {
            left: 0;
            padding: 11px 0 0 20px;
        }
    }

    .breadcrumb {
        margin: 0;
        padding-left: 0;
    }

    #btn-left-nav {
        position: relative;
        &.leftnav-active {
            margin: 0 0 0 34px;
        }
    }

    #category-nav .menu-trigger {
        position: relative;
        right: auto;
    }

    .left-nav h2:after {
        color: #d1d1d1;
        content: "Menu";
        font-weight: normal;
        margin-left: 6px;
    }

    .nav-opened {
        h2:after {
            display: none;
        }
        border-top: 1px solid $light-grey;
    }

    #category-nav {
        .menu-trigger span {
            background: $dark-grey;
        }
        .leftnav-active .menu-trigger span {
            background: transparent;
        }
    }
    .global-sites {
        li ul {
            margin: 0;
            @include big-drop-shadow;
            background: $darkest-grey;
            li a{
                color: $white;
            }
        }
    }
    p {
        &.sites-active{
            background: transparent;
        }
        &.sites-active:before,
        &.sites-inactive:before {
            font-size: 40px;
            top: 0;
            left: 0;
            color: $white;
        }
        &.sites-active:before {
            font-size:45px;
            font-family: verdana, arial, sans-serif;
            top:-8px;
            left:0;
        }
    }
}

@media screen and (#{$bp-660}) {
    .breadcrumb{
        display: none;
    }
    .top-nav {
        position: relative;
        width: 100%;
        left: 0;
        right: auto;
        float: none;
        clear: both;
        -webkit-box-shadow: none;
        box-shadow: none;
        li a {
            display: block;
        }
    }

}