/*404s & error pages */

.pgError {
    .tagline {
        padding: 1% 3% 5% 3%;
        margin: 0 1%;
        font-size: 1.1em;
        &:before {
            display: none;
        }
    }
    .container {
        padding-bottom: 6%;
    }
    .hotel-logo {
        position: static;
        margin: 3% auto 0 auto;
    }
    .tagline p span {
        display: inline-block;
    }
}

.faq {
    min-height: 300px;
    padding-bottom: 72px;
    .list li {
        padding: 10px 0;
    }
}
.pgFaq, #pgCart{
    .content{
        padding: 2% 0 0;
    }
}

@media screen and (#{$bp-960}) {
    .faq {
        min-height: 200px;
    }
    .pgError{
        .stack{
            width:100%;
            &.left, &.right{
                float: none;
            }
        }
    }
}
